* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  
  /* background: #A8EB12; */
}
.sideBarcontainer {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 350px;
  transition: all 0.5s;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 25px;
}
.bars {
  display: flex;
  font-size: 20px;
  margin-left: 80px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0, 5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
}
.card{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: #fff;
}
